body
{
    color:black;
    background-color: aliceblue;
    background-size: cover;
    font-family: Georgia, Times, serif;
    word-spacing: 1.25em;
}

a{
    color:darkblue;
    text-decoration: none;
}

a:hover {
    color: darkgray;
    font-size: 150%;
    text-align: justify;
}

tr {
    font-size: 50px;
}

td {
    font-size: 35px;
    line-height: 200%;
}

